body {
	background-image: url("images/studying2.png") !important;
	width: 100%;
}

.top {
	padding-left: 110px;
}

#logo h1{
	font-size: 300%;
	color: white !important;
	vertical-align: middle;
	padding: 290px 0 0;
	font-family: 'Lato', sans-serif;
}

#logo p{
	font-size: 200%;
	color: white;
	font-family: 'Lato', sans-serif;

}

#namelogo img{
	max-width: 150px;
    position: fixed;  
    left: 0;  
    top: 0;  
    z-index: 120;  
}

.title h1{
	font-family: 'Grand Hotel', cursive;
	color: white !important;
	font-size: 400%;
	text-align: center;
}

#page1 {
	height: 100%;
}

#page2 {
	background-color: #ECFAFD !important;
	/*background-image: url("images/sky.gif");*/
	height:100%;
} 

#page2 h1{
	color: black !important;
}
.content p{
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: black;
	font-size: x-large;
}

#page2 h5{
	font-family: 'Oswald', serif;
	color: #F1684E;
	/*font-size:200%;*/
	text-align: center;
}

#page2 li{
	font-family: 'Lato', sans-serif;
	color: black;
	font-size:medium;
}

#page3 {
	height: 100%;
	background-color: #F2F2F2 !important; 

}

#page3 h1{
	color: black !important;
}

#page3 img{
	opacity: 0.6;
}
#page3 img:hover{
	opacity: 1;
}

#page4{
	height: 100%;
	background-color: #595959 !important;
}
#page4 p{
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: black;
	font-size:90%;
}

#page4 li{
	font-family: 'Lato', sans-serif;
	text-align: left;
	color: black;
	font-size:90%;
}

#page4 h5{
	font-family: 'Oswald', serif;
	color: #f1684e;
	font-size:medium;
	text-align: right;
}

#page5{
	height: 100%;
}
h1 {
	color: white !important;
}

#page5 img{
	display:block;
	margin-right: auto;
	margin-left: auto;
	height: auto;}

.icons {
	padding: 230px 0 0;
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  

#namelogo {
	max-width: 100px;
	z-index: 120;
}

.reveal-modal .next{
	max-width: 50px;
}
.reveal-modal{
	max-height: 80%;
}
.reveal-modal h5{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: black;
	font-size: x-large;
}

.reveal-modal p{
	font-family: 'Lato', sans-serif;
	text-align: left;
	color: black;
	font-size: medium;
}

.reveal-modal li{
	font-family: 'Lato', sans-serif;
	text-align: left;
	color: black;
	font-size: medium;
}
.inline li {
	list-style-type:none;
	margin:0;
	float: right;
	padding-top: 80px;
	padding-right:20px;
	display: inline;

}
